
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../public/background.png');
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat';
}

.verticalContainer{
  overflow: auto;
  padding: 1vh;
  scroll-behavior: smooth;

}

.glass{
  backdrop-filter: blur(50px);
  border-radius: 5px;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3vh 4vh;
  background-color: rgba(255, 255, 255, 0.123);
  height: auto;
  min-height: 3vh;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
}


.glass:hover{
  animation-name: example;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes example {
  from {border-image: linear-gradient(to right, #FF3B00 0%, transparent 0%) 100% 1;}
  to {border-image: linear-gradient(to right, #FF3B00 50%, transparent 100%) 100% 1;}
}

.glass p{
  color: rgba(255, 255, 255, 0.699);
}

.glass img {
  border-radius: 50%;
  border: 5px solid #FF3B00 !important;
}
.Title{
  background: linear-gradient(to top, #FF3B00 40%, transparent 40%);
  color: white;
  padding: 0 1vh;
  font-weight: bold;
}

.product{
  height: 10vh;
  background:rgb(37, 37, 37);
  margin-top: 2vh;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .verticalContainer{
    width: 70%;
    padding: 10vh 0vw;
  }
  .glass p{
    font-size: x-small
  }
  .verticalContainer::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  .verticalContainer{
    width: 30%;
  }
  .verticalContainer::-webkit-scrollbar {
    width: 5px;
  }
  
  .verticalContainer::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .verticalContainer::-webkit-scrollbar-thumb {
    background: #ff3c0071;
    border-radius: 5px;
    
  }
  
  .verticalContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.ProductImg{
  width: 100%;
  height:auto;
  min-height: 25vh;
  filter: grayscale(100%) brightness(0.3) blur(8px);
  transition: all 0.7s;
}

.product{
  transition: all 0.7s;
  opacity: 1;
  backdrop-filter: blur(50px);
  background-color: rgba(87, 87, 87, 0.123);
  border: 2px solid #FF3B00;
  cursor: pointer;
  height: 25vh;
}

.product:hover{
  filter: grayscale(0);
  opacity: 1;
  border: 2px solid transparent

}
.product h3{
  transition: all 0.7s;
  color: #FF3B00;
  font-size: large;
}
.product:hover h3{
  opacity: 0;
}
.product:hover .ProductImg{
  filter: grayscale(0%) brightness(1);
}